/* boxes */

.boxes {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.box img {
  width: 90px;
  offset: 1px, 2px rgba(0, 0, 0, 0.04);
}


.box {
  width: 392px;
  height: 255px;
  box-sizing: content-box;
  border: transparent 1px;
  text-align: center;
  background: rgba(15, 186, 104, 0.08);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.box img {
  display: block;
  margin: auto;
  margin-top: 40px;
}

.box h3 {
  margin-top: 24px;
}

.box span {
  margin-top: 24px;
  font-weight: 900;
  font-size: 39px;
  line-height: 47px;
}

.box-blue span {
  color: #2029f3;
}

.box-green span {
  color: #0fba68;
}

.box-yellow span {
  color: #ead621;
}
.box-blue {
  background: rgba(32, 41, 243, 0.08);
}

.box-green {
  background: rgba(15, 186, 104, 0.08);
}

.box-yellow {
  background: rgba(234, 214, 33, 0.08);
}




@media (max-width: 375px) {
  .boxes{
    flex-wrap:wrap;
  }  
  .box-green{
    max-width:48%;
  }
  .box-yellow{
    max-width:48%;
  }
  .boxes .box:first-child{
    margin-bottom: 16px;
  }
  
}
